$roomColor: #182C61;
$channelColor: #F5F5F5;
$black: #333333;

.RoomHelpers {
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
}

.Room {
    width: 240px;
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $roomColor;
    cursor: pointer;
}

.Room:hover {
    background-color: darken(#182C61, 3%);
}

.RoomName {
    margin: 0;
    margin-left: 20px;
    color: white;

}

.ChannelName {
    margin: 0;
    margin-left: 20px;
    color: $black;
    padding-right: 20px;
    border-right: 1px solid #CCC;
}

.RoomSettings {
    outline: none;
    border: none;
    background: transparent;
    margin-right: 10px;
}

.Channel {
    display: flex;
    align-items: center;
    width: calc(100vw - 310px);
    height: inherit;
    background-color: $channelColor;
    border-bottom: 1px solid #DDD;
}

.ChannelDescription {
    font-size: 12px;
    margin-left: 20px;
}

.VerticalLine {
    border-left: 1px solid #ff0000;
}

.dropdown {
    color: white
}