$roomColor: #273c75;
$channelColor: #fdfdfd;
$black: #333333;

.RoomHelpers {
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 699;
    box-shadow: 0 1px 0.1px 0px rgba(0, 0, 0, 0.10);
}

.Room {
    width: 240px;
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $roomColor;
}

.Room:hover {
    background: #5e5d5d;
}

.RoomName {
    margin: 0;
    margin-left: 10px;
    color: white;

}

.ChannelName {
    margin: 0;
    margin-left: 10px;
    color: $black;
}

.RoomSettings {
    outline: none;
    border: none;
    background: transparent;
    margin-right: 10px;
}

.Channel {
    display: flex;
    align-items: center;
    width: calc(100vw - 310px);
    height: inherit;
    background-color: $channelColor;
}

.Dropdown {
    border: solid rgb(51, 50, 50);
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}