$basecolor: #081b50;
$black: #333333;

.Rooms {
    height: 100vh;
    width: 70px;
    background-color: $basecolor;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: auto;
    overflow-x: hidden;
    box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.10);
}

.Rooms::-webkit-scrollbar {
    background-color: transparent;
    width: 7px;
}

.Rooms::-webkit-scrollbar-track {
    background-color: rgb(58, 57, 57);
    border-radius: 10px;
}

.Rooms::-webkit-scrollbar-thumb {
    background-color: rgb(20, 20, 20);
    border-radius: 10px;

}

.RoomSelected,
.RoomNotSelected {
    border: none;
    border-radius: 15px;
    margin-top: 10px;
    width: 45px;
    height: 45px;
    outline: 0;
    background-color: #182C61;
    font-weight: 700;
    font-size: 18px;
}

.AddChatroom {
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    width: 40px;
    height: 40px;
    outline: 0;
    background-color: #182C61;
    color: green;
    font-size: 32px;
}

.RoomSelected {
    color: white;
    background-color: rgb(46, 88, 201)
}

.RoomNotSelected {
    color: #FDFDFD;

}

.Wrapper,
.AddJoinWrapper {
    height: 250px;
    width: 500px;
    border-radius: 5px;
    display: flex;
    background-color: white;
}

.AddJoinWrapper {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.AddJoinBtns {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    outline: none;

}

.AddJoinDescription {
    height: auto;
    width: 100%;
    text-align: center;
}

.InputWrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

.InputLabel {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    color: grey;
    margin-bottom: 15px;
}

.Input {
    width: 200px;
    border: none;
    border-bottom: 2px solid #DDD;
    outline: none;
    padding: 5px 10px;
    transition: 350ms all;
}

.Input:focus {
    border-bottom: 2px solid green;
}

.Btn {
    width: 160px;
    height: 40px;
    border-radius: 5px;
    background-color: blue;
    border: none;
    transition: 350ms all;
    color: white;

    &:hover {
        background-color: darken(blue, 10%);
    }
}

h3 {
    margin: 0;
}

.BackBtn {
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    color: grey;
    margin-left: 40px;
    border-bottom: 1px solid transparent;
    transition: 150ms all;
    outline: none;

    &:hover {
        color: darken(grey, 20%);
        border-bottom: 1px solid rgb(184, 183, 183);
    }
}

.Confirm {
    width: 120px;
    height: 40px;
    color: white;
    background-color: green;
    border: none;
    margin-right: 40px;
    transition: 150ms all;
    outline: none;

    &:hover {
        background-color: darken(green, 5%);
    }
}

.Description {
    width: 150px;
    text-align: center
}

.JoinAndAdd {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}