@import '../../index.scss';

.Users {
    position: relative;
    min-width: 240px;
    background-color: $white;
    height: 100%;
    border-left: 1px solid #DCDCDC;
}

.User {
    font-size: 18px;
    color: $black;
    text-align: center;
    text-transform: capitalize;
    font-weight: 400;
}

.NumberOfUsers {
    font-size: 12px;
}

.Avatar {
    margin-left: 20px;
    margin-right: 7px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.xd::after {
    content: "";
    position: absolute;
    top: 18.5px;
    left: 41px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 1px solid $white;
    background-color: green;
}

.UserWrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    height: 30px;
}

.UserRole {
    margin: 0;
    margin-left: 20px;
    margin-top: 10px;
    color: rgb(114, 114, 114);
    text-transform: uppercase;

}