$basecolor: #F5F5F5;
$black: #333333;

.Users {
    position: relative;
    min-width: 240px;
    background-color: $basecolor;
    height: 100%;
    border-left: 1px solid #DDD;
}

.User {
    font-size: 16px;
    color: $black;
    text-align: center;
    text-transform: capitalize;
    color: green;
    font-weight: 400;
}

.NumberOfUsers {
    font-size: 12px;
}

.Avatar {
    margin-left: 20px;
    margin-right: 7px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.UserWrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    height: 30px;
}