$basecolor: #F5F5F5;
$black: #333333;

.Users {
    min-width: 240px;
    background-color: $basecolor;
    height: 100%;
    border-left: 1px solid #DDD;
}

.User {
    font-size: 16px;
    color: $black;
    text-align: center;
    text-transform: capitalize;
}