.Chatbox {
    width: 60%;
    background-color: #262626;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.InputContainer {
    width: 100%;
    margin-bottom: 30px;
    margin-top: 30px;
}

.MessageInput {
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    border: none;
    width: 80%;
    height: 50px;
    outline: none;
    padding: 0px 20px;
}

.MessagesContainer {
    width: 90%;
    background-color: #262626;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    flex: 2;
}

.MessagesContainer::-webkit-scrollbar {
    margin-left: 25px;
    background-color: transparent;
    width: 7px;
}

.MessagesContainer::-webkit-scrollbar-track {
    background-color: rgb(58, 57, 57);
    border-radius: 10px;
}

.MessagesContainer::-webkit-scrollbar-thumb {
    background-color: rgb(20, 20, 20);
    border-radius: 10px;

}


.Messages:first-child {
    margin-top: auto;
}

.Messages {
    font-size: 14px;
    width: 100%;
    color: #CCC;
    background-color: inherit;
    word-wrap: break-word;
}

.Message {
    margin-bottom: 3px;
}

.MessageHorizontalLine {
    border: 1px solid #2e2d2d;
    margin-top: 9px;
}

.Username {
    font-size: 16px;
    margin: 0;
    font-weight: bold;
    margin-bottom: 7px;
}

.NameAndDate {
    color: #CCC;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-transform: capitalize;
}

.Date {
    color: #686868;
    margin: 0;
    margin-bottom: 7px;
    margin-left: 10px;
    font-size: 10px;
}