@import '../../index.scss';

.Body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    @include background;
}

.Form {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background-color: white;
    border-radius: 35px;
    padding: 30px 20px;
}


.Login {
    margin: 0;
    margin-bottom: 30px;
    text-align: center;
}

.SubmitBtn {
    border: none;
    border-radius: 50px;
    background-color: #388E3C;
    color: white;
    font-size: 16px;
    display: block;
    width: 200px;
    height: 40px;
    margin: 0 auto;
    margin-top: 20px;
    outline: none;
    transition: all 350ms;
    cursor: pointer;
}

.SubmitBtn:hover {
    background-color: #1B5E20;
}

.Link {
    margin-top: 10px;
    color: white;
    text-decoration: none;
}

.Input,
.InputError {
    border: none;
    box-shadow: 0 0 0px 1px rgb(146, 146, 146);
    border-radius: 25px;
    width: 220px;
    height: 40px;
    outline: none;
    padding: 0 20px;

}

.InputError {
    box-shadow: 0 0 0px 1px red;
}

.ErrorMessage {
    font-size: 12px;
    text-align: center;
    color: red;
    margin: 0;
}

.ErrorParagraph {
    margin: 0;
}

.Information {
    font-size: 12px;
    text-align: center;

}

.RegisterSuccess {
    font-size: 12px;
    text-align: center;
    color: green;
}