$white: #F5F5F5;
$black: #444444;


.Channels {
    display: flex;
    flex-direction: column;
}


.Channel,
.ChannelSelected {
    width: 200px;
    margin: 0 auto;
    padding: 7px;
    color: $white;
    border-radius: 5px;
}

.Channel button,
.ChannelSelected button {
    color: $white;
    font-size: 1em;
    outline: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.ChannelSelected button {
    cursor: auto;
}

.ChannelSelected {
    background-color: #2e58c9;
}

.ChannelTitle {
    margin: 0;
    margin-left: 20px;
    margin-bottom: 3px;
    color: $white;
}


.ChannelsHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 20px;
}


.AddChannel {
    background-color: transparent;
    border: none;
    display: block;
    color: $white;
    font-size: 28px;
    padding: 0;
    margin-right: 20px;
    outline: none;
    cursor: pointer;
}

.AddChannel:hover {
    color: #CCC;
}

.AddChannelWrapper {
    height: 300px;
    width: 500px;
    border-radius: 5px;
    display: flex;
    background-color: white;
    flex-direction: column;
    justify-content: space-evenly;
}

.AddChannelDescription {
    height: auto;
    width: 100%;
    text-align: center;
}

.AddChannelBtns {
    width: calc(100% - 60px);
    height: auto;
    display: flex;
    justify-content: space-between;
    outline: none;
    margin: 0 30px;
}

.NoChannel {
    top: 0;
    position: fixed;
    height: 100vh;
    width: calc(100% - 240px);
    margin-left: 240px;
    background-color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.NoChannelsTextWrapper h1 {
    font-weight: bold;
    font-size: 48px;
    text-align: center;
    color: $black;
    margin: 0;
    margin-bottom: 10px;
}

.NoChannelsTextWrapper p {
    margin: 0;
    color: $black;
    text-align: center;
}