.Body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #182c61;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg %3E%3Crect fill='%23182c61' width='11' height='11'/%3E%3Crect fill='%23182d63' x='10' width='11' height='11'/%3E%3Crect fill='%23172d66' y='10' width='11' height='11'/%3E%3Crect fill='%23162e68' x='20' width='11' height='11'/%3E%3Crect fill='%23162e6a' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%23152f6d' y='20' width='11' height='11'/%3E%3Crect fill='%23152f6f' x='30' width='11' height='11'/%3E%3Crect fill='%23143071' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%23133174' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%23123176' y='30' width='11' height='11'/%3E%3Crect fill='%23123278' x='40' width='11' height='11'/%3E%3Crect fill='%2311327b' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%2310337d' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%230f337f' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%230e3482' y='40' width='11' height='11'/%3E%3Crect fill='%230d3484' x='50' width='11' height='11'/%3E%3Crect fill='%230b3586' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%230a3589' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%2309368b' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%2307368e' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%23063790' y='50' width='11' height='11'/%3E%3Crect fill='%23043892' x='60' width='11' height='11'/%3E%3Crect fill='%23033895' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%23023997' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%23003999' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%23003a9c' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%23003a9e' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%23003ba1' x='70' width='11' height='11'/%3E%3Crect fill='%23003ba3' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%23003ca5' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%23003ca8' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%23003caa' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%23003dad' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%23003daf' x='80' width='11' height='11'/%3E%3Crect fill='%23003eb2' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%23003eb4' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%23003fb6' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%23003fb9' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%230040bb' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%230040be' x='90' width='11' height='11'/%3E%3Crect fill='%230040c0' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%230041c2' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%230041c5' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%230042c7' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%230042ca' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%230042cc' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%230043cf' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%230043d1' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%230044d3' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%230044d6' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%230044d8' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%230045db' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%230045dd' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%230045e0' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%230046e2' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%230046e4' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%230046e7' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%230046e9' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%230047ec' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%230247ee' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

.Login,
.Register {
    border: none;
    margin-bottom: 20px;
    width: 230px;
    height: 50px;
    border-radius: 25px;
    outline: none;
    font-size: 18px;
    color: rgb(255, 255, 255);
    background-color: transparent;
    border: 2px solid white;
    transition: 150ms all ease-in-out;
    cursor: pointer;

    &:hover {
        width: 240px;
    }
}

.Title {
    font-size: 120px;
    margin: 0;
    color: white;
    text-shadow: 5px 5px black;
    margin-bottom: 10px;
}

.Description {
    font-size: 24px;
    color: white;
    margin-top: 20px;
    margin-bottom: 50px;
}

.DescriptionWrapper {
    width: 500px;
    text-align: center;
}

@media (max-width:1000px) {
    .Title {
        font-size: 72px;
    }
}

@media (max-width:600px) {
    .Description {
        font-size: 16px;
        color: white;
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .DescriptionWrapper {
        width: 250px;
        text-align: center;
    }

    .Title {
        font-size: 42px;
    }
}